<PageTitle>I 6:8 Foundation</PageTitle>

<section id="about" class="about">
    <div class="container">
        <div class="row">
            <div class="col-lg-6" style="display: flex; justify-content: center; align-items: center;">
                <img src="assets/img/sixEightLogo-removebg-preview.png" class="img-fluid about-logo" alt="I 6:8 Foundation Logo" style="max-width: 500px; width: 100%; height: auto;">
            </div>
            <div class="col-lg-6 pt-4 pt-lg-0">
                <h3>About Us</h3>
                <p>
                    Founded in 2024 by Taylor Wigglesworth, Justin Wigglesworth, and Alexis Wigglesworth, the I 6:8 Foundation is dedicated to supporting individuals on their journey to recovery.
                </p>
                <p class="mission-statement">
                    At I 6:8 Foundation our mission is to empower individuals on their journey to recovery by providing compassionate support, accessible resources, and a sense of community. We are committed to breaking the cycle of addiction, promoting mental and emotional well-being, and fostering resilience. We believe in the strength of every person to heal, rebuild, and thrive, and we work tirelessly to create a supportive environment where recovery is not just possible, but sustainable. Through education, advocacy, and a commitment to dignity, we strive to inspire hope and transformation for all those affected by addiction.
                </p>
            </div>
        </div>
    </div>
</section>

@code {

}